html,
body {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    height: 100%;
}

#main-container {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}

.header {
    display: flex;
    justify-content: center;
    background-color: #e9d0b6;
    position: fixed;
    /* top:0;
    left:0; */
    z-index: 10;
    color: #343148FF;
    width: 100%;

}
.header h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    margin-left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}

nav ul li a {
    color: #343148FF;
    text-decoration: none;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #343148FF;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-link::after {
    content: '';
    width: 0px;
    height: 3px;
    background: #343148FF;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.nav-link:hover::after {
    width: 100%;
    box-shadow: 2px 0px 2px #343148FF, 2px 2px 25px #343148FF, 2px 2px 50px #343148FF;
}

.logout {
    color: #e9d0b6;
    border: none;
    border-radius: 6px;
    margin-left: 20px;
    padding: 5px;
    font-size: 14px;
    background-color: #343148FF;
}

.logout:hover {
    opacity: 0.6;
    color: white;
    box-shadow: 2px 5px 5px white;
}

.logout i {
    padding-left: 10px;
}

i .profile {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#dash-main {
    display: flex;
    /* height: 100vh; */
    top: 0;
    background: white;
    position: relative;
}


.sidebar {
    z-index: 10;
    margin-top: 78px;
    /* height:100vh; */
    position: fixed;
    top:0;
    left:0;
    background-color: #ffffff;
    box-shadow: 2px 4px 5px rgb(193, 126, 222);
}

.sidebar a {
    text-decoration: none;
    color: #343148FF;
}

.sidebar ul {
    font-size: 16px;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    text-align: center;
    padding: 0px;
    transition: all 0.2s ease;
}
.sidebar ul li{
    list-style-type: none;
    /* margin: 2px; */
    padding: 25px 3px;
    border: 0.5px solid rgb(254, 253, 253);
    background-color: #e7c8a6;
    transition: all 0.2s ease;
}

.sidebar ul li:hover{
    background-color: #343148FF;
    box-shadow: 2px 4px 5px rgb(41, 40, 42);
    /* transform: scale(1.06); */
}
.sidebar a{
    color: rgb(251, 248, 248);
}

.section{
    display:block;
}
.section.hidden-page-content{
    display: none;
}

.sidebar-link.active{
    color: rgb(239, 222, 145);
    background-color: #343148FF;
    font-weight: bold;
    transform: scale(1.1);
    z-index: 1000;
    box-shadow: 2px 0px 2px #343148FF, 2px 2px 25px #343148FF, 2px 2px 25px #343148FF;
}

#otherclg-event{
    flex: 2;
    /* display: none; */
    /* margin-left: 190px; */
    margin-top: 78px;
    margin-left: 10.9%;
    display: grid;
    height: auto;
    background-image: url(/static/images/win\ cele.jpg);
    background-size: 2500px;
    /* background: linear-gradient(rgb(20, 29, 51),rgb(56, 23, 38)); */
    grid-template-columns: repeat(3, 1fr);
    /* scro; */
}
 #MyCollege-Events{
    flex: 2;
    margin-top: 78px;
    margin-left: 10.9%;
    display: grid;
    /* grid-template-columns: repeat(2, 4fr); */
    background-image: url(/static/images/win\ cele.jpg);
    background-size: 2500px;
 }


#achievements, #ranks, #approving{
    background-image: url(/static/images/win\ cele.jpg);
    background-size: 2500px;
    /* background: linear-gradient(rgb(20, 29, 51),rgb(56, 23, 38)); */
    margin-top: 78px;
    flex: 2;
    /* z-index: 15; */
    margin-left: 10.05rem;
}

#otherclg-event::before, #MyCollege-Events::before, #achievements::before, #ranks::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 10.6%;
    width: 89.3%;
    height: 100%;
    background-color: rgba(9, 9, 9, 0.45);
    z-index: 0;
}
#myclg-event, #myclgAchieves{
    z-index: 7 !important;
}

.otherclg-content {
    /* width: 25rem; */
    max-height: 100vh;
    background-color: rgb(240, 240, 240);
    color: rgb(72, 67, 99);
    z-index: 7;
    margin: 20px 10px 10px 15px;
    border-radius: 5px;
    display:grid;
    border: 1px solid black;
    box-shadow: 2px 0px 2px rgb(11, 11, 12), 2px 2px 25px rgb(13, 12, 14), 2px 2px 12px rgb(17, 16, 16);
    transition: all 0.3s ease-in-out;
}
.myclg-content{
       /* margin: 10px; */
    max-height: auto;
    color: rgb(72, 67, 99);
    z-index: 10;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    
    /* gap: 40px; */
    /* justify-content: space-evenly; */
}
.achievementsContent{
    height: auto;
    /* padding-left: 6rem; */
    color: rgb(72, 67, 99);
    z-index: 10;
    display:grid;
    grid-template-columns: repeat(4,1fr);
}
.rankHoldersContent{
    height: auto;
    /* padding-left: 6rem; */
    color: rgb(72, 67, 99);
    z-index: 10;
    display:grid;
    /* grid-template-columns: repeat(2,1fr); */
    margin: 0rem 1rem;
}
.each-rank-heading{
    /* max-height: 100vh; */
    background-color: rgb(240, 240, 240);
    color: rgb(72, 67, 99);
    z-index: 7;
    margin: 20px 10px 10px 15px;
    border-radius: 5px;
    display:grid;
    border: 1px solid black;
    box-shadow: 2px 0px 2px rgb(11, 11, 12), 2px 2px 25px rgb(13, 12, 14), 2px 2px 12px rgb(17, 16, 16);
    transition: all 0.3s ease-in-out; 
}
.each-rank-heading h2{
    margin: 1rem;
}

.rankHolders{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 1rem;
}

.each-holder{
    margin-left: 1rem;
    
}

.each-holder h2, .each-holder h3, h4{
    margin: 0.3rem;
    padding: 0px;
    justify-self: center;
    align-self: center;
}
.each-holder img{
    border-radius: 50px;
    margin-left: 2.5rem;
}

.each-my-events{
    /* width: 150px; */
    background-color: rgb(240, 240, 240);
    margin: 10px;
    border: 1px solid black;
    margin: 20px 10px 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 0px 2px rgb(11, 11, 12), 2px 2px 25px rgb(13, 12, 14), 2px 2px 12px rgb(17, 16, 16);
}
.each-my-events h2, .each-my-events h4, p{
    padding-left:10px;
    text-wrap: wrap;
    display:flex;
}
.each-achieve{
    /* width: 150px; */
    background-color: rgb(240, 240, 240);
    height: 25rem;
    width: 19rem;
    border: 1px solid black;
    margin: 20px 10px 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 0px 2px rgb(11, 11, 12), 2px 2px 25px rgb(13, 12, 14), 2px 2px 12px rgb(17, 16, 16);
}
.each-achieve{
    z-index: 5;
}
.achieve-card-image{
    border-radius: 3px;
}
.achieveCardDetils h2,h3,p, a{
    padding-left: 9px;
    margin:10px 0px;
}
.otherclg-content:hover, .each-my-events:hover, .each-achieve:hover{
    transform: scale(0.95);
}

.event-header div {
    display: inline-block;
}

.event-header h6,
h4 {
    margin: 5px 0 0 0;
}

.event-header h4 {
    font-size: 14.4px;
}

.event-header h6 {
    font-size: 12.4px;
}

.event-header img {
    padding: 10px 2px 0px 1px;
    border-radius: 50%;
    margin-left: 2px;
    width: 30px;
    height: 30px;
    /* border: 1px solid black; */
}

.event-name {
    margin: 40px 3px 10px 3px;
}

.imp-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.descButton, .regButton, .button, .viewCertBtn{
    border: none;
    border-radius: 5px;
    background-color: pink;
    padding: 9px;
    margin: 20px 10px 10px 10px;
    cursor: pointer;
    color: #0d2c5e;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/*Other College Event descripion pop up*/

.desc-popup, .event-reg-popup, 
#create-event-popup, #viewRegStudents-popup, 
#create-achieve-popup, #create-rankholders-popup {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  display: none;
  justify-content: center !important;
  align-items: center !important;
  z-index: 999;
}

.popup-content, .form-popup-content, 
.create-event-popup-content, .registered-popup-content, 
.create-achieve-popup-content, .create-rankholders-popup-content{
  background: #e9d0b6;
  padding: 30px;
  position: relative;
  border-radius: 10px;
  max-height: 1000px;
  max-width: 800px;
  animation: slideDown 0.3s ease-in-out;
  position: relative;
}
@keyframes slideDown {
    from {
        transform: translateY(-50px); 
        opacity: 0; 
    }
    to { 
        transform: translateY(0); 
        opacity: 1; 
    }
}
.registered-popup-content{
    justify-self: center;
}

.create-event-popup-content, .create-achieve-popup-content, 
.create-rankholders-popup-content{
    width: 500px;
    justify-self: center;
}

.pop-title{
    text-align: center;
}

.registered-table tr th, td{
    border:1px solid black;
    padding: 5px;
    text-align: center;
    margin: 5px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  cursor: pointer;
}

/* Show popup when checkbox is checked */
#register-popup:checked+.event-reg-popup {
    display: flex;
}

/* Form styling */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

.form-group input,
.form-group select, .form-group textarea{
    width: 100%;
    padding: 7px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

/* .form-group select option{
    border: 1px solid #0d2c5e;
} */

.required-star, .hidden{
    color: rgb(201, 25, 25);
}
#submitAlertmsg, #createAlertmsg{
    display:block;
}
.other-type-hidden{
    display: none;
}

.hidden-page-content{
    display: none !important;
}

/* Submit button, create event btn, create achievement btn in popup form*/
#submit-btn, #create-btn, #create-achieve-btn,
#create-rankholder-btn{
    background: #0d2c5e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    left: 30px;
    margin-left:80%;
}
#submitAlertmsg{
    margin-left:60%;
}
#createAlertmsg{
    margin-left:68%;
}

/*Creating event button*/
#create-button, #create-achieve-button, #create-rankholders-button{
    border:none;
    right: 10px;
    border-radius: 50%;
    background-color: #0d2c5e;
    color: white;
    margin:20px;
    font-size: larger;
    font-weight: bolder;
    padding: 25px;
    cursor:pointer;
    position: fixed;
    z-index: 12;
    top: 30rem;
    right: 6rem;
    box-shadow: 5px 5px 5px black;
    transition: all 0.5s ease;
    /* animation: clickRotate 0.4s ease forwards; */
}
#create-button:hover, #create-achieve-button:hover, #create-rankholders-button:hover{
    transform: scale(1.2);
}

.clear-btn{
    position: relative;
    z-index:6;
}
/* 
@keyframes clickRotate {
    0% {
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(360deg) scale(1.1);
    }
} */

/* #create-button:hover {
    transform: scale(1.15) rotate(3deg);
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5);
}

@keyframes rotateIn {
    from {
        transform: rotate(360deg);
        opacity: 0;
    }
    to {
        transform: rotate(0deg);
        opacity: 1;
    }
} */

/*footer*/

footer{
    width: 100%;
    font-weight: 600;
    padding: 10px 0px;
    background: #e9d0b6;
}

footer p{
    justify-content: center;
    color:#343148FF;
}
