extend layout
block body
    .main-container

    #main-content
      #loginFormContent
        h1 Login
        form#loginForm
          input(type="text", id="admin-clg-code", name="admin-clg-code", placeholder="Collegecode")
          small#admin-clg-code-req.login-hidden

          input(type="email", id="admin-email", name="admin-email", placeholder="Email")
          small#admin-email-req.login-hidden

          input(type="password", id="admin-pass", name="admin-pass", placeholder="Passcode")
          small#admin-pass-req.login-hidden

          button#login-btn Sign in

          p
            | New to this? 
            a.changeForm(href="#", onclick="openSignUpForm()") Sign Up Here

      #overlay
        #reminding-points
          label.closePopup(onclick="closePopup()") &times;
          li Register(if new) or login to admin dashboard
          li Post inter and intra college events
          li View other college events and profiles
          li Enhance your college profile
          li Approve student registrations

      #signupFormContent.hidden-form
        h1 Register
        form#signupForm
          input(type="text", id="admin-reg-clg-code", name="admin-clg-code", placeholder="Collegecode")
          small#admin-reg-clg-code-req.signup-hidden

          input(type="text", id="admin-reg-clg-name", name="admin-reg-clg-name", placeholder="Collegename")
          small#admin-reg-clg-name-req.signup-hidden

          input(type="email", id="admin-email", name="admin-email", placeholder="Email")
          small#admim-email-req.signup-hidden

          input(type="file", id="logo-image", name="logo-image", class="file-input")
          small#logo-image-req.signup-hidden

          input(type="password", id="admin-reg-pass", name="admin-reg-pass", placeholder="Passcode")
          small#admin-reg-pass-req.signup-hidden

          input(type="password", id="admin-reg-confirm-pass", name="admin-reg-confirm-pass", placeholder="Confirm Passcode")
          small#admin-reg-confirm-pass-req.signup-hidden

          button#signup-btn Sign Up

          p
            | You have an account already? 
            a.changeForm(href="#", onclick="openLoginForm()") Login Here