doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{webTitle}
    link(rel="stylesheet", href="/Frontend/static/css/style-home.css")

  body
    //- Header section
    #main-container
      header#header
        include ./includes/home_nav
          

      //- About Web App
      main.hero-card
        //- Dynamic content from backend (via home.js)

    //- Instruction & role cards
    section#instructions
      //- Dynamic content from backend (via home.js)

    //- Footer
    footer#footer
      //- Filled by JS from backend

    //- JS Libraries
    script(src="https://code.jquery.com/jquery-3.7.1.min.js")
    script(src="/Frontend/script/home.js")
