<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College-Admin Dashboard</title>
    <script src="https://kit.fontawesome.com/1271c77683.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style-college.css">
</head>

<body>
    <!-- header section-->
    <div class="main-container">
        <header class="header">
            <div>
                <h2>Multi College Event Platform</h2>
            </div>
            <nav>
                <ul id="sidemenu">
                    <li><a class="nav-link" href="/templates/home.html">Home</a></li>
                    <li><a class="nav-link" href="#">Profile<i style="padding:5px" class="fa-regular fa-user"></i></a></li>
                </ul>
                <button class="logout"><a style="color:#e9d0b6" href="#">Logout<i style="padding:5px" class="fa-solid fa-arrow-right-from-bracket"></i></a></button>
            </nav>
        </header>
    </div>
    <!--Hero section-->
    
    <main id="dash-main">
        <!--side menu bar-->
        <aside class="sidebar">
            <ul>
                <!-- <li><a class="sidebar-link active" href="#otherclg-event" onclick="activePage('otherclg-event', this)">Other College Events</a></li>
                <li><a class="sidebar-link" href="#MyCollege-Events" onclick="activePage('MyCollege-Events', this)">My Events</a></li>
                <li><a class="sidebar-link" href="#achievements" onclick="activePage('achievements', this)">Achievements</a></li>
                <li><a class="sidebar-link" href="#ranks" onclick="activePage('ranks', this)">Rank Holders</a></li>
                <li><a class="sidebar-link" href="#approving" onclick="activePage('approving', this)">Approve Students</a></li> -->
                <li class="sidebar-link active" onclick="activePage('otherclg-event',this)"><a href="#otherclg-event">Other College Events</a></li>
                <li class="sidebar-link" onclick="activePage('MyCollege-Events',this)"><a href="#MyCollege-Events" >My Events</a></li>
                <li class="sidebar-link" onclick="activePage('achievements',this)"><a href="#achievements" >Achievements</a></li>
                <li class="sidebar-link" onclick="activePage('ranks',this)"><a href="#ranks" >Rank Holders</a></li>
                <li class="sidebar-link" onclick="activePage('approving',this)"><a href="#approving" >Approve Students</a></li>               
            </ul>
        </aside>
        <!--Other college events display-->
        <div id="otherclg-event" class="section">
            <!--EVENT CARD Contents will appear through JavaScript-->
        </div>
        <!--Other college Event Description pop up-->
        <div class="desc-popup">
            <!-- EACH DESCRIPTION CARD DISPLAYED THROUGH JS-->
        </div>
        <!--Event Register form pop up-->
        <input type="checkbox" id="register-popup" hidden>
        <div class="event-reg-popup">
            <div class="form-popup-content">
                <div id="reg-card-details">
                    <!-- card details here which is dynamic (clg and event name) -->
                </div>
                <form id="reg-form">
                    <div class="form-group">
                        <label for="clg-code">College Code:<span class="required-star">*</span></label>
                        <input type="text" id="clg-code" name="clg-code">
                        <small id="clg-code-req" class="hidden"></small>
                    </div>
                    <div class="form-group ">
                        <label for="clg-name">College Name:<span class="required-star">*</span></label>
                        <input type="text" id="clg-name" name="clg-name">
                        <small id="clg-name-req" class="hidden"></small>
                    </div>
                    <div class="form-group">
                        <label for="name">Full Name:<span class="required-star">*</span></label>
                        <input type="text" id="name" name="name">
                        <small id="full-name-req" class="hidden"></small>
                    </div>
                    <div class="form-group">
                        <label for="email">Email ID:<span class="required-star">*</span></label>
                        <input type="email" id="email" name="email">
                        <small id="email-req" class="hidden"></small>
                    </div>
                    <div class="form-group">
                        <label for="dept">Department:<span class="required-star">*</span></label>
                        <input type="text" id="dept" name="dept">
                        <small id="dept-req" class="hidden"></small>
                    </div>
                    <div class="form-group">
                        <label for="year">Year:</label>
                        <select id="year" name="year">
                            <option value="">Select</option>
                            <option value="1st">1st Year</option>
                            <option value="2nd">2nd Year</option>
                            <option value="3rd">3rd Year</option>
                            <option value="4th">4th Year</option>
                        </select>
                        <small id="year-req" class="hidden"></small>
                    </div>
                    <small id="submitAlertmsg" class="hidden"></small>
                    <button type="submit " id="submit-btn" >Submit</button>
                </form>
            </div>
        </div>

        <div id="MyCollege-Events" class="section hidden-page-content">
            <div id="myclg-event">
                <div class="myclg-content">
                    
                </div>
            
                <div>
                    <button id="create-button" onclick="opencreateform()">Create Event</button>
                    <button onclick="clearEvents()">Clear All Events</button>
                </div>
            </div>
            <!--Event creation form-->
            <!-- <div id=create-event-form class="hidden1"> -->
            <div id="create-event-popup">   
                <div class="create-event-popup-content">
                    <label for="create-popup" class="close-btn" onclick="closePopup()">&times;</label>
                    <h2 class="pop-title">Create a new event</h2>
                    <form id="create-form">
                        <div class="form-group">
                            <label for="new-event">Event Name:<span class="required-star">*</span></label>
                            <input type="text" id="new-event" name="new-event">
                            <small id="new-event-name-req" class="hidden"></small>
                        </div>
                        <div class="form-group">
                            <label for="event-type">Event Type:<span class="required-star">*</span></label>
                            <select id="event-type" name="event-type">
                                <option value="">Select</option>
                                <option value="intra">Intra Event</option>
                                <option value="inter">Inter Event</option>
                            </select>
                            <small id="event-type-req" class="hidden"></small>
                        </div>
                        <div class="form-group ">
                            <label for="event-date">Event date:<span class="required-star">*</span></label>
                            <input type="date" id="event-date" name="event-date">
                            <small id="event-date-req" class="hidden"></small>
                        </div>
                        <div class="form-group">
                            <label for="new-event-description">Description:<span class="required-star">*</span></label>
                            <textarea type="text" rows="3" cols="100" id="new-event-description" name="new-event-description"></textarea>
                            <small id="event-description-req" class="hidden"></small>
                        </div>
                        <div class="form-group">
                            <label for="file">Upload file: <small style= "font-style: italic">optional</small></label>
                            <input type="file" id="file" name="file">
                            <!-- <small id="email-req" class="hidden"></small> -->
                        </div>
                        
                        <small id="createAlertmsg" class="hidden"></small>
                        <button type="submit" id="create-btn" >Create</button>
                    </form>
                </div>
            </div>  
            <div id="viewRegStudents-popup">
                <div class="registered-popup-content">
                    <label for="viewRegStudents-popup" class="close-btn" onclick="closePopup()">&times;</label>
                    <h4 class="pop-title">Registered students</h4>
                    <h2 class="pop-title">For the event - EVENT NAME</h2>
                    <table class="registered-table">
                        <tr>
                            <th>Full Name</th>
                            <th>College code</th>
                            <th>college Name</th>
                            <th>Department</th>
                            <th>Year</th>
                        </tr>
                        <tr>
                            <td>Sahid</td>
                            <td>8203</td>
                            <td>A.V.C. College of Engineering</td>
                            <td>Information Technology</td>
                            <td>4th year</td>
                        </tr>
                        <tr>
                            <td>Kayal Vizhi</td>
                            <td>8203</td>
                            <td>A.V.C. College of Engineering</td>
                            <td>Information Technology</td>
                            <td>4th year</td>
                        </tr>
                        <tr>
                            <td>Kayal Vizhi</td>
                            <td>8203</td>
                            <td>A.V.C. College of Engineering</td>
                            <td>Information Technology</td>
                            <td>4th year</td>
                        </tr>
                        <tr>
                            <td>Kayal Vizhi</td>
                            <td>8203</td>
                            <td>A.V.C. College of Engineering</td>
                            <td>Information Technology</td>
                            <td>4th year</td>
                        </tr>
                        <tr>
                            <td>Kayal Vizhi</td>
                            <td>8203</td>
                            <td>A.V.C. College of Engineering</td>
                            <td>Information Technology</td>
                            <td>4th year</td>
                        </tr>
                        <tr>
                            <td>Kayal Vizhi</td>
                            <td>8203</td>
                            <td>A.V.C. College of Engineering</td>
                            <td>Information Technology</td>
                            <td>4th year</td>
                        </tr>
                        <tr>
                            <td>Kayal Vizhi</td>
                            <td>8203</td>
                            <td>A.V.C. College of Engineering</td>
                            <td>Information Technology</td>
                            <td>4th year</td>
                        </tr>
                    </table>
                </div>
            </div> 
        </div>

        

        <div id="achievements" class="section hidden-page-content">Achievements Content</div>
        <div id="ranks" class="section hidden-page-content">Rank Holders Content</div>
        <div id="approving" class="section hidden-page-content">Approve Students Content</div>
    </main>
    <!--My College Event Display-->
    <!-- <h3>//MY COLLEGE EVENTS//</h3> -->
    
    



        <!--Footer-->
    <!-- <footer>
        <p style="margin-left:5px ">PROJECT ON TRAINING PERIOD | INNOVATION MINDS &copy; 2025</p>
    </footer> -->

        <script src="/static/script/college-admin.js "></script>
</body>

</html>