<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi College Event Platform</title>
    <link rel="stylesheet" href="/static/css/style-home.css">
</head>
<body>
    <!-- header section-->
    <div id="main-container">
        <header class="header">
            <div>
                <h2>Multi College Event Platform</h2>
            </div>
            <nav>
                <ul id="sidemenu">
                    <li><a href="#main-container">Home</a></li>
                    <li><a href="#instructions">Instructions</a></li>
                    <li><a href="#">College Admin</a></li>
                    <li><a href="#">Student</a></li>
                    <li><a href="#">View other Colleges</a></li>
                </ul>
            </nav>
        </header>

        <!--About Web App-->
        <main class="hero-card">
            <div class="info">  
                <div>
                    <h1>"A unified platform to <span class="imp">organize and explore college 
                    events</span> across institutions"</h1>
                    <p>Welcome! A multi-college event sharing
                    platform designed to bring together colleges, students, 
                    and events under one digital roof.<br>Whether you're a college administrator looking to 
                    host inter or intra-college events, or a student eager to 
                    participate in exciting fests, this platform is built for you.
                    </p>
                    <h2 ><span class="imp1">Unite.<br>Celebrate.<br>Compete</span> — across campuses</h2>
                </div>
                <div class="event-img">
                    <img class="event-img" src="/images/event1.jpg" alt="image">
                </div>
            </div>
        </main>
    </div>

    <!--Instruction & role Cards-->
    <section id="instructions">
        <h1 class="instruct-title">Important Roles</h1>
        <div class="instruct-card">
            <div class="roles">
                <h2 class="card-name">COLLEGE ADMIN</h2>
                <div class="each-role">
                    <h4>Register and login</h4>
                </div>
                <div class="each-role"> 
                    <h4>Post inter and intra college events</h4>
                </div>
                <div class="each-role">
                    <h4>View other college events and profiles</h4>
                </div>
                <div class="each-role">
                    <h4>Enhance your college profile</h4>
                </div>
                <div class="each-role">
                    <h4>Approve student registrations</h4>
                </div>
            </div>
            <div class="roles">
                <h2 class="card-name">STUDENTS</h2>
                <div class="each-role">
                    <h4>Register and login</h4>
                </div>
                <div class="each-role"> 
                    <h4>View intra & inter college event</h4>
                </div>
                <div class="each-role">
                    <h4>Participate in events and track for updates</h4>
                </div>
                <div class="each-role">
                    <h4>View other college profile</h4>
                </div>
            </div>
        </div>
    </section>
    <!--Footer-->
    <footer>
        <p>PROJECT ON TRAINING PERIOD | INNOVATION MINDS &copy; 2025</p>
    </footer>
</body>
</html>