<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College-Admin</title>
    <link rel="stylesheet" href="/Frontend/static/css/style-clg-login.css">
</head>
<body>
    <!-- header section-->
    <div class="main-container">
        <header class="header">
            <div>
                <h2>Multi College Event Platform</h2>
            </div>
            <nav>
                <ul id="sidemenu">
                    <li><a class="nav-link" href="/Frontend/templates/home.html">Home</a></li>
                </ul>
                <button class="remind-btn"><a style="color:#e9d0b6" onclick="openAdminRemindPonits()">Reminding Points</a></button>
            </nav>
        </header>
    </div>

    <div id="main-content">
        <div id="loginFormContent">
            <h1>Login</h1>
            <form id="loginForm">
                <input type="text" id="admin-clg-code" name="admin-clg-code" placeholder="Collegecode">
                <small id="admin-clg-code-req" class="login-hidden"></small>

                <input type="email" id="admin-email" name="admin-email" placeholder="Email">
                <small id="admin-email-req" class="login-hidden"></small>

                <input type="password" id="admin-pass" name="admin-pass" placeholder="Passcode">
                <small id="admin-pass-req" class="login-hidden"></small>

                <button id="login-btn">Sign in</button>

                <p>New to this? <a href="#" class="changeForm" onclick="openSignUpForm()" >Sign Up Here</a></p>
            </form>
        </div>
        <div id="overlay">
            <div id="reminding-points">
                <label class="closePopup" onclick="closePopup()">&times;</label>
                <li>Register(if new) or login to admin dashboard</li>
                <li>Post inter and intra college events</li>
                <li>View other college events and profiles</li>
                <li>Enhance your college profile</li>
                <li>Approve student registrations</li>
            </div>
        </div>
        

        <div id="signupFormContent" class="hidden-form">
            <h1>Register</h1>
            <form id="signupForm">
                <input type="text" id="admi-clg-code" name="admin-clg-code" placeholder="Collegecode">
                <small id="admin-clg-code-req" class="signup-hidden"></small>

                <input type="text" id="admin-reg-clg-name" name="admin-reg-clg-name" placeholder="Collegename">
                <small id="admin-reg-clg-name-req" class="signup-hidden"></small>

                <input type="email" id="admin-email" name="admin-email" placeholder="Email">
                <small id="admim-email-req" class="signup-hidden"></small>

                <input type="file" id="logo-image" name="logo-image" class="file-input">
                <small id="logo-image-req" class="signup-hidden"></small>

                <input type="password" id="admin-reg-pass" name="admin-reg-pass" placeholder="Passcode">
                <small id="admin-reg-pass-req" class="signup-hidden"></small>

                <input type="password" id="admin-reg-confirm-pass" name="admin-reg-confirm-pass" placeholder="Confirm Passcode">
                <small id="admin-reg-confirm-pass-req" class="signup-hidden"></small>

                <button id="signup-btn"> Sign Up </button>

                <p>You have an account already? <a href="#" class="changeForm" onclick="openLoginForm()">Login Here</a></p>
            </form>
        </div>
    </div>

    <script src="/Frontend/script/clg-login.js"></script>
</body>
</html>