<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi College Event Platform</title>
    <link rel="stylesheet" href="/Frontend/static/css/style-home.css">
</head>
<body>
    <!-- header section-->
    <div id="main-container">
        <header id="header">
            <!-- Dynamically displayed from server -->
        </header>

        <!--About Web App-->
        <main class="hero-card">
            <!-- Dynamically displayed from server -->
             <!-- home content and event image -->
        </main>
    </div>

    <!--Instruction & role Cards-->
    <section id="instructions">
        <h1 class="instruct-title">Important Roles</h1>
        <div class="instruct-card">
            <div class="roles">
                <h2 class="card-name">COLLEGE ADMIN</h2>
                <div class="each-role">
                    <h4>Register and login</h4>
                </div>
                <div class="each-role"> 
                    <h4>Post inter and intra college events</h4>
                </div>
                <div class="each-role">
                    <h4>View other college events and profiles</h4>
                </div>
                <div class="each-role">
                    <h4>Enhance your college profile</h4>
                </div>
                <div class="each-role">
                    <h4>Approve student registrations</h4>
                </div>
            </div>
            <div class="roles">
                <h2 class="card-name">STUDENTS</h2>
                <div class="each-role">
                    <h4>Register and login</h4>
                </div>
                <div class="each-role"> 
                    <h4>View intra & inter college event</h4>
                </div>
                <div class="each-role">
                    <h4>Participate in events and track for updates</h4>
                </div>
                <div class="each-role">
                    <h4>View other college profile</h4>
                </div>
            </div>
        </div>
    </section>
    <!--Footer-->
    <footer>
        <p>PROJECT ON TRAINING PERIOD | INNOVATION MINDS &copy; 2025</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/Frontend/script/home.js"></script>
</body>
</html>