doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Multi College Event Platform
    script(src="https://kit.fontawesome.com/1271c77683.js", crossorigin="anonymous")
    link(rel="stylesheet", href="/static/css/style-college.css")

  body