header.header
        img#navLogo(src="/admin_users_logo/#{logo}", alt="logo")
        h2 #{user.collegeName}
        nav
          ul#sidemenu
            li
              a.nav-link(href="/") Home
            li
              a.nav-link(href="#")
                | Profile
                i.fa-regular.fa-user(style="padding:5px")
          button.logout
            a(href="#",onclick="logoutUser()", style="color:#e9d0b6")
              | Logout
              i.fa-solid.fa-arrow-right-from-bracket(style="padding:5px")