head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title #{webTitle}
  if(reqUrl.includes("/events"))
    link(rel="stylesheet", href="/static/css/style-college.css")
  else
    link(rel="stylesheet", href="/static/css/style-home.css")
  script(src="https://kit.fontawesome.com/1271c77683.js", crossorigin="anonymous")