header.header
        div
          h2 Multi College Event Platform
        nav
          ul#sidemenu
            li
              a.nav-link(href="/") Home
          //- button.remind-btn
          //-     a(style="color:#e9d0b6", onclick="openAdminRemindPonits()") Reminding Points